body {
    background-color: var(--navds-color-background);
}

.app {
    width: 100%;
    display: flex;
    justify-content: center;
}
.skjemaelement__input:disabled,
.skjemaelement__select:disabled {
    color: black;
    opacity: 1;
}

.checkboks:disabled + .skjemaelement__label,
.radioknapp:disabled + .skjemaelement__label {
    color: black;
}

button, a {
    white-space: normal!important;
}

.container {
    margin-top: 2rem;
    max-width: 48rem;
}

.leftPadding {
    margin-left: 1em;
}

.rightPadding {
    margin-left: 1em;
}
