body {
    background-color: var(--navds-color-background);
}

.app {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

button,
a {
    white-space: normal !important;
}

.container {
    margin-top: 2rem;
    max-width: 56rem;
}
