body {
    background-color: #e9e7e7;
}

.app {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 2rem;
    max-width: 48rem;
}

.leftPadding {
    margin-left: 1em;
}

.rightPadding {
    margin-left: 1em;
}
