@import 'tailwindcss';
@import '@navikt/ds-css' layer(components);

@config '../tailwind.config.ts';

/* links are bright blue in dark mode */
@media (prefers-color-scheme: dark) {
    a {
        color: var(--a-blue-200) !important;
    }

    td {
        color: black;
    }

    .navds-button--secondary {
        color: #aab0ba !important;
    }

    .navds-table--zebra-stripes
        > .navds-table__body
        > :where(.navds-table__row:nth-child(even):not(.navds-table__row--selected)) {
        background-color: var(--a-gray-800) !important;
    }

    .navds-table--zebra-stripes
        > .navds-table__body
        > :where(.navds-table__row:nth-child(odd):not(.navds-table__row--selected)) {
        background-color: var(--a-gray-600) !important;
    }

    .navds-table__data-cell {
        color: var(--a-gray-50);
    }

    .navds-panel {
        background-color: var(--a-gray-800) !important;
    }

    .navds-alert--warning {
        background-color: var(--a-orange-900) !important;
    }

    .navds-alert--info {
        background-color: var(--a-blue-900) !important;
    }
}
