name: Deploy til dev
on:
  push:
    branches:
      - "main"
    tags-ignore:
      - '**'      # Don't build any tags
  workflow_dispatch:

jobs:
  deploy:
    name: Build and deploy to dev
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v3
        with:
          node-version: '24'
          registry-url: "https://npm.pkg.github.com"
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm i --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Build Orval
        run: pnpm run orval
      - name: Build application
        run: pnpm run build
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: teamdigisos
          tag: latest
          platforms: linux/amd64
          build_secrets: |
            NODE_AUTH_TOKEN=${{ secrets.READER_TOKEN }}
      - name: Deploy til dev
        uses: nais/deploy/actions/deploy@v2
        env:
          RESOURCE: nais/dev/mock.yaml
          CLUSTER: dev-gcp
          REF: ${{ github.sha }}
          PRINT_PAYLOAD: true
          VAR: image=${{ steps.docker-build-push.outputs.image }}
